<div
  class="pass-box"
  *ngIf="lowercaseChars.length && uppercaseChars.length && symbolChars.length"
>
  <h1 style="text-align: center;">Password generator</h1>
  <mat-form-field appearance="outline">
    <mat-label>Password length</mat-label>
    <input pattern="\d*" type="number" matInput [(ngModel)]="passLength" />
  </mat-form-field>
  <mat-checkbox class="pass-box__margin" [(ngModel)]="includeSymbols"
    >Include Symbols</mat-checkbox
  >
  <mat-checkbox class="pass-box__margin" [(ngModel)]="includeNumbers"
    >Include Numbers</mat-checkbox
  >
  <mat-checkbox class="pass-box__margin" [(ngModel)]="includeLowercase"
    >Include Lowercase Characters</mat-checkbox
  >
  <mat-checkbox class="pass-box__margin" [(ngModel)]="includeUppercase"
    >Include Uppercase Characters</mat-checkbox
  >

  <mat-form-field appearance="outline" class="pass-box__margin">
    <mat-label>Generated password</mat-label>
    <input
      placeholder="Generated password"
      matInput
      [(ngModel)]="generatedPassword"
      [readonly]="true"
      [disabled]="!generatedPassword"
    />
    <mat-icon (click)="copyToClipboard()" style="cursor: pointer" matSuffix
      >content_copy</mat-icon
    >
  </mat-form-field>

  <button (click)="generatePassword()" mat-raised-button color="primary">
    Generate password
  </button>

  <h5 style="text-align: right;">By Dobroman</h5>
</div>
